<!DOCTYPE html>
<html th:fragment="layout (title, sidebarActive, content)"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    <title th:replace="${title}">마이페이지</title>-->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
</head>

<body class="mypage-page">

<th:block
        th:replace="~{fragments/layout :: commonHeader(${nickname}, ${cartCount}, null, null, false)}"></th:block>

<main>
    <section class="mypage-shell">
        <div class="container">
            <div class="dashboard-wrapper">

                <aside class="dashboard-sidebar">
                    <h3>마이페이지</h3>

                    <ul class="dashboard-menu">
                        <li><a href="/users/me" th:classappend="${sidebarActive=='dashboard'} ? 'active'">대시보드</a></li>
                        <li><a href="/users/me/reviews" th:classappend="${sidebarActive=='reviews'} ? 'active'">내 리뷰</a>
                        </li>
                        <li><a href="/orders/me" th:classappend="${sidebarActive=='orders'} ? 'active'">주문 내역</a></li>
                        <li><a href="/users/me/coupons" th:classappend="${sidebarActive=='coupons'} ? 'active'">쿠폰함</a>
                        </li>
                        <li><a href="/users/me/addresses" th:classappend="${sidebarActive=='addresses'} ? 'active'">내 주소
                            관리</a>
                        </li>
                        <li><a href="/users/me/edit" th:classappend="${sidebarActive=='edit'} ? 'active'">내 정보 수정</a>
                        </li>
                        <li><a href="/users/me/password" th:classappend="${sidebarActive=='password'} ? 'active'">비밀번호
                            변경</a>
                        </li>
                        <li><a class="logout-link" href="/logout">로그아웃</a></li>
                    </ul>
                </aside>

                <section class="dashboard-main">
                    <div th:replace="${content}"></div>
                </section>

            </div>
        </div>
    </section>
</main>

<th:block th:replace="~{fragments/layout :: commonFooter}"></th:block>

</body>
</html>
